<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teamname.tutortrader" >

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />


    <uses-permission android:name="android.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- New! -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".AvailableSessionsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddSessionActivity" />
        <activity android:name=".MySessionsActivity" />
        <activity android:name=".CurrentBidsActivity" />
        <activity android:name=".ViewOneSessionActivity" />
        <activity android:name=".BidOnSessionActivity" />
        <activity android:name=".MyProfileActivity" />
        <activity android:name=".EditSessionActivity" />

        <!-- added methods controller as an activity to be sagfe -->
        <activity android:name=".MethodsController" />
        <activity
            android:name=".EditProfileActivity"
            android:label="@string/title_activity_edit_profile" />
        <activity
            android:name=".CreateProfileActivity"
            android:label="@string/title_activity_create_profile" />
        <activity android:name=".ViewBidsActivity" />
        <activity android:name=".ViewImageActivity" />


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" >
        </activity>
        <activity
            android:name=".ViewMapsActivity"
            android:label="@string/title_activity_view_maps" >
        </activity>

        <activity
            android:name=".UpcomingSessionsActivity"
            android:label="@string/title_activity_upcoming_sessions"></activity>
        <activity
            android:name=".ViewOneUpcomingSession"
            android:label="@string/title_activity_view_one_upcoming_session"></activity>

    </application>

</manifest>
