<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teamname.tutortrader">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AvailableSessionsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddSessionActivity" />
        <activity android:name=".MySessionsActivity" />
        <activity android:name=".CurrentBidsActivity" />
        <activity android:name=".ViewOneSessionActivity" />
        <activity android:name=".BidOnSessionActivity" />
        <activity android:name=".MyProfileActivity" />
        <activity android:name=".EditSessionActivity" />

        <!-- added methods controller as an activity to be safe -->
        <activity android:name=".MethodsController" />
        <activity
            android:name=".EditProfileActivity" />
        <activity
            android:name=".CreateProfileActivity" />
        <activity android:name=".ViewBidsActivity" />
        <activity android:name=".ViewImageActivity" />
        <activity
            android:name=".UpcomingSessionsActivity" />
        <activity
            android:name=".ViewOneUpcomingSession" />
    </application>

</manifest>
